.container{
max-width: 620px;
margin: 0 auto;
justify-content: space-between;
}

.item{
box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12) !important;
height: 50px;
flex-basis: 25%;
display: flex;
justify-content: space-between;
align-items: center;
padding-left: 10px;
padding-right: 10px;

}

@media only screen and (max-width: 600px) {
    .container{
        justify-content: space-around;
    }
}